<div class='document_wrapper' >
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="document-nav-wrapper">
    <a ui-sref="document.reading" ui-sref-active="active-doc-link" class="not-active-doc-link">Read</a>
    <a ui-sref="document.typing" ui-sref-active="active-doc-link" class="not-active-doc-link">Type</a>
    <a ui-sref="document.speaking" ui-sref-active="active-doc-link" class="not-active-doc-link">Speak</a>
    <a ui-sref="document.quiz" ui-sref-active="active-doc-link" class="not-active-doc-link">Quiz</a>
  </div>

  <ui-view></ui-view>
<br><br>
</div>
