<a href='' ui-sref='home'> Home </a>

<div class='document_wrapper' ng-controller='InputCtrl as input'>
  <!-- <p class='start_stop'>Time will start when you begin typing. It will end when you click 'stop'.</p> -->
  <div id="submitted_words">
    <span ng-repeat='word in input.inputArr track by $index'>
      <span class='{{ word.e }}'>{{ word.n }}</span>
    </span>
    <span ng-repeat='target in input.docArr | scrollFilter:input.count track by $index '>
      <span id="{{$index}}">{{target}}</span>
    </span>
  </div>

  <br>

  <div id="input_wrapper">

    <input
      type='text'
      class='input_box'
      ng-model='input.body'
      ng-keypress="$event.charCode === 32 ? input.appendWord(input) : null"
      ng-model-options="{'updateOn': 'default keypress'}">
      <p>Doc length: {{input.docArr.length}}</p>
  </div>

  <p>Time will start and stop automatically. </p>

  <p ng-show="input.percentCorrect">Congrats! You got: {{ input.percentCorrect }}% right!</p>

  <time-directive></time-directive>

</div>
