
<div class='document_body' ng-repeat='document in ctrl.documents | filter:{id:this.id}'>
  <p>{{document.body}}</p>
</div>

  <div ng-controller='InputCtrl as input'>
    <div id="input_wrapper">
      <span>Input: {{input.inputArr.join(' ')}}</span>
      <input
        type='text'
        class='input_box'
        ng-model='input.body'
        ng-keypress="$event.charCode === 32 ? input.appendWord($event, input) : null"
        ng-model-options="{'updateOn': 'default keypress'}">
    </div>
  </div>
