<div id="doc_index">

  <div id="search_doc_index">
    Search for document:
    <input
      type="text"
      ng-model='ctrl.search'>
      <a href="" ui-sref='new_doc'>Create New Doc</a>
  </div>

  <ul ng-repeat='document in ctrl.documents | filter:ctrl.search'>
    <li><a href="" ui-sref='document({id: document.id})'>{{document.title}}</a>
      - <strong>{{document.author}}</strong>
      <br>
      {{document.body.substring(0,100) + '...'}}</li>
      <button ng-click='ctrl.deleteDoc(document.id); ctrl.documents.splice($index,1)'>Delete</button>
  </ul>
</div>
