<div id="doc_index">

  <div id="search_doc_index">
    Search for document:
    <input
      type="text"
      ng-model='ctrl.search'>
      <a href="" ui-sref='new_doc'>Create New Doc</a>
  </div>

  <ul ng-repeat='document in ctrl.documents | filter:ctrl.search'>
    <li>
      <p>
        <a href="" class='index_title' ui-sref='document({id: document.id})'>{{document.title}}</a>
        -
        <span class='index_author'><strong>{{document.author}}</strong></span>
        -
        Created By: <strong> {{document.creator_name}} </strong>
        <span class='creator'>{{document.creator}}</span>
      </p>
        <span class='index_body'>{{document.body.substring(0,100) + '...'}}</span>
    </li>
      <button
        class='index_delete'
        ng-click='ctrl.deleteDoc(document.id); ctrl.documents.splice($index,1)'
        >Delete</button>
  </ul>
</div>
