
<div id="form_title">
  Title: {{ctrl.title}}
</div>
<div id="form_author">
  Author: {{ctrl.author}}
</div>
<div id="form_body">
  Body: {{ctrl.body}}
</div>
<br>
<div class="center-wrapper">
  <form id='new_doc_form' ng-submit='ctrl.submitNewForm()'>
    <table>
      <tr>
        <td>Title:</td>
        <td><input name="title" type="text" ng-model='ctrl.title' placeholder="Title" class='full-width'></td>
      </tr>
      <tr>
        <td>Author:</td>
        <td><input name="author" type="text" ng-model='ctrl.author' placeholder="Author" class='full-width'></td>
      </tr>
      <tr>
        <td>Body:</td>
        <td><textarea name="body" ng-model='ctrl.body' rows="8" cols="40" placeholder="Body" class='full-width'></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" value='Submit'/></td>
      </tr>
  </table>
  </form>
</div>
