<div class='document_wrapper' >
  <div class="blackout scrollable" ng-click='$parent.quiz = !$parent.quiz'>

    <div class='simpleDemo certer-wrapper' ng-click="$event.stopPropagation()">

      <ul dnd-list="row"
      ng-repeat="row in quiz.columnQuizData"
      ng-init="$index ? full = true : full = false"
      ng-class="{'receiver': !full, 'one-fourth': full}">

      <span ng-show="!full">Drag Here</span>

        <li ng-repeat="item in row track by $index"
          dnd-draggable="item"
          dnd-moved="row.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-selected="models.selected = item"
          ng-class="{'selected': models.selected === item, 'receiver-item': !full }">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</div>
