<div class='document_wrapper' >
  <div class="blackout scrollable" ng-click='$parent.quiz = !$parent.quiz'>

    <div class='simpleDemo quiz-box' ng-click="$event.stopPropagation()">
      <span ng-click='$parent.quiz = !$parent.quiz'>X Close X</span>
      <p>Drag the sentences below into order. Clicking will add to the end of the list.</p>
      <button ng-click="refresh()">Refresh (All progress will be lost!)</button>
      <div ng-show="quiz.percentCorrect !== 0">Your Score: {{quiz.percentCorrect}}%</div>
      <button ng-click="checkAnswer()">Submit</button>
      <ul dnd-list="column"
      ng-repeat="column in quiz.columnQuizData"
      ng-init="$index ? full = true : full = false"
      ng-class="{'receiver': !full, 'one-fourth': full}">

      <p ng-show="!full && column.length === 0 ">Drag Here</p>

        <li ng-repeat="item in column"
          dnd-draggable="item"
          dnd-moved="column.splice($index, 1);"
          dnd-effect-allowed="move"
          ng-click="moveToContainer(item,$index)"
          ng-class="{'receiver-item': !full }">
          {{item.string}}
        </li>
      </ul>
    </div>
  </div>
</div>
