<div class='document_wrapper' >

  <div id="submitted_words">
    <p><strong>To start, just click the microphone below and start speaking naturally. The time will stop when you finish the text or you click stop.</strong></p>
    <p><strong>Our speech recognition service ocurrently supports roman alphabet based languages.</strong></p>
    <span ng-repeat='word in speaking.documentAttrs.inputArr track by $index'>
      <span class='{{ word.e }}'>{{ word.n }}</span>
    </span>

    <span ng-repeat='target in speaking.documentAttrs.docArr | scrollFilter:speaking.count track by $index '>
      <span id="{{$index}}">{{target}}</span>
    </span>
  </div>
  <div id="submitted_words">
    <span ng-repeat="word in speaking.docArr track by $index">{{word}} </span>
  </div>
  <time-directive></time-directive>
  <button ng-click="restart()">Restart</button>
  <p>Best Time: {{speaking.documentAttrs.userDoc.best_time}}</p>
  <p>Best Score: {{speaking.documentAttrs.userDoc.accuracy}}</p>

</div>
