/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#show_my_docs {
  position: absolute;
  top: .3em;
  right: 1em;
  padding: .3em;
  border: 1px solid black;
}

#my_docs {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 2.5em;
  right: 0;
  border: 1px solid black;
}
