/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#side-bar a {
  color: #D1D1D1;
}

#nav_bar {
  background-color: lightgrey;
  height: 3em;
  z-index: -1;
  text-align: right;
  padding: 1em;
}

#login-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 10000000;
}

body {
  margin: 0em !important;
}

.certer-wrapper table {
  width: 97%;
}

td input, td textarea {
  border-radius: 3px;
}

.certer-wrapper {
  background-color: #ABD06F;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  border: 1px solid black;
}

.full-width {
  width: 100%;
}

.show-docs-button {
  position: absolute;
  top: 1em;
  left: 1em;
  padding: .3em;
  border: 1px solid black;
}

#my_docs {
  background-color: white;
  height: 100%;
  position: absolute;
  top: 2.5em;
  right: 0;
  border: 1px solid black;
}

.help {
    overflow-y: hidden;
    max-height: 200px;
    /*width: 200px;*/
    /*height: 120px;*/
    -webkit-transition: all 1s cubic-bezier(0, .1, 0.5, 1);
    transition: all 1s cubic-bezier(0, .1, 0.5, 1);
    height: inherit;
    width: inherit;
    background-color: #F55678;
}

/* most important part is here: */
.hide {
    max-height: 0;
}
