
.input_box {
  padding: 2em;
  width: 50%;
  text-align:center;
  /*border: .5px solid black;*/
}

#submitted_words {
  margin-top: 3.5em;
  widows: 100%;
  text-align:left;
}

.match {
  background-color: lightgreen;
}

.no_match {
  background-color: pink;
}

.help-btn {
  background-color: lightgreen;
  border: 1px solid black;
  padding: 0em 1em .5em 1em;
  border-top: 0px;
}

.scrollable {
  overflow-y: scroll;
}

.receiver {
  background-color: lightblue;
  position: absolute;
  top: 2em;
  border: 1px solid black;
  padding: 1em;
  text-align: center;
  border-radius: 3px;
  width: 98%;
}

.receiver-item {
  background-color: lightred !important;
  margin-left: 1em;
}

.document-nav-wrapper {
  border: 1px solid black;
  margin-left: 10em;
  margin-right: 10em;
  border-radius: 15px;
}

.not-active-doc-link {
  text-decoration: none;
  border-radius: 3px;
  padding: .5em;
  color: black;
}

.active-doc-link {
  @extend .not-active-doc-link;
  background-color: lightblue;
}
