
.input_box {
  padding: 2em;
  width: 50%;
  text-align:center;
  /*border: .5px solid black;*/
}

#submitted_words {
  widows: 100%;
  text-align:left;
}

.match {
  background-color: lightgreen;
}

.no_match {
  background-color: pink;
}

.help-btn {
  background-color: lightgreen;
  /*margin-top: 1em;*/
  border: 1px solid black;
  padding: 0em 1em .5em 1em;
  border-top: 0px;
}
