// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_body {
  padding: 2em;
  border: 1em;
  border: 1px solid black;
}

.document_wrapper {
  // border: 1px solid green;
  padding-top: 1.3em;
  width: 100%;
  text-align:center;
}

#input_wrapper, #doc_index {
  padding-top: 3em;
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 1em;
  display: block;
  widows: 100%;
  // padding: 0 8em;
  background-color: #73DDEE;
}
