// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_body {
  padding: 2em;
  border: 1em;
  border: .5px solid black;
}

.input_box {
  padding: 2em;
  width: 100%;
  text-align:center;
  border: .5px solid black;
}

.start_stop {
  padding: 2em;
  width: 100%;
  text-align:center;
}

#input_wrapper, #doc_index {
  display: block;
  widows: 100%;
  padding: 0 8em;
  border: .5px solid black;
}
